################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/NorthwindCoModels/bin/Debug
/NorthwindCoModels/obj
/NorthwindCoViewModels/bin/Debug
/NorthwindCoViewModels/obj
/NorthwindCoWeb/bin
/NorthwindCoWeb/obj
