@model NorthwindCoViewModels.CascadingDropdownViewModel

<div>
	<label>Countries</label>
	@Html.DropDownList("CountryId", Model.AllCountries.Select(item => new SelectListItem
	{
		Value = item.Id.ToString(),
		Text = item.Description.ToString()
	}), new {@class = "form-control"})
</div>
<div>
	<label class="control-label">States</label>
	@Html.DropDownList("StateId", Model.AllStates.Select(item => new SelectListItem
	{
		Value = item.Id.ToString(),
		Text = item.Description.ToString()
	}), new {@class = "form-control"})
</div>
<div>
	<label class="control-label">Towns</label>
	@Html.DropDownList("TownId", Model.AllTowns.Select(item => new SelectListItem
	{
		Value = item.Id.ToString(),
		Text = item.Description.ToString()
	}), new {@class = "form-control"})
</div>

@section scripts
{
	<script>
		$(function() {

			$('#CountryId').change(function() {
				$('#CountryId').val($('#CountryId').val());
				loadState($('#CountryId').val());
			});

			$('#StateId').change(function() {
				$('#StateId').val($('#StateId').val());
				loadTown($('#StateId').val());
			});

			$('#TownId').change(function() {
				$('#TownId').val($('#TownId').val());
			});

			function loadState(selectedValue) {

				var defaultValue = 0;

				$.getJSON("/Home/LoadStateList/" + selectedValue,
					function(data) {
						var items = "";

						$.each(data,
							function(index, item) {
								if (index === 0) {
									defaultValue = item.Value;
								}
								items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
							});

						$("#StateId").html(items);

						loadTown(defaultValue);
					});
			}

			function loadTown(selectedValue) {

				$.getJSON("/Home/LoadTownList/" + selectedValue,
					function(data) {

						var items = "";

						$.each(data,
							function(index, item) {
								items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
							});

						$("#TownId").html(items);
					});
			}

		});
	</script>
}